#video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

main .submitbutton {
  background-color: grey;
  width: 100px;
  border-radius: 5px;
}
main {
  padding: 20px 30px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
.row {
  display: flex gap = 10px;
  main #contact-section div {
    position: relative;
  }
}
main #contact-section ul {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

main #about-section .description {
  display: flex;
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
}
main #about-section h4 {
  display: flex;
  justify-content: center;
}

main #skilset-section ul {
  display: flex;
  flex-direction: column;
  padding: 10px 0px 10px 50px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
}

main #experience-section ul {
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
}

li.experience {
  display: flex;
  flex-direction: column;
}

main #education-section ul {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 10px 50px;
  justify-content: center;
  border: solid whitesmoke;
  border-radius: 5px;
}
main #education-section li {
  padding: 10px;
}

main #info-section form.form-wrapper > div {
  display: flex;
  flex-direction: column;
}

main #info-section form.form-wrapper > div input,
main #info-section form.form-wrapper > div textarea {
  padding: 10px;
  border: 0px;
}

main #info-section section.sectio main #info-section .submitbutton {
  display: block;
  text-align: center;
  margin: 0 auto;
  border: 5px solid whitesmoke;
  border-radius: 5px;
  margin-bottom: 5px;
}

main #info-section > h4 {
  color: whitesmoke;
  padding-top: 10px;
}

input[type="text"],
input[type="email"] {
  width: 100px;
  height: 15px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 5px;
}

main #info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  padding: 10px;
}
