#video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.container {
  border: 5px solid whitesmoke;
}

main h2 {
  color: white;
  padding-left: 20px;
  font-size: 30px;
}

main h3 {
  padding: 20px;
  font-size: 20px;
}

main .picture-wrapper {
  display: flex;
  align-items: baseline;
}

main #picture {
  border-radius: 5px;
}

/* header div.picture-wrapper h2 {
  margin-left: 8px;
  color: whitesmoke;
  margin-top: 50px;
} */

main {
  padding: 20px 30px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
.row {
  display: flex gap = 10px;
  main #contact-section div {
    position: relative;
  }
}
main #contact-section ul {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}

main #about-section .description {
  border-style: solid;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}
main #about-section h4 {
  display: flex;
  justify-content: center;
}

main #skilset-section ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  font-size: 20px;
}

main #experience-section ul {
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 5px;
  padding: 20px;
  font-size: 20px;
}

li.experience {
  display: flex;
  flex-direction: column;
}

main #education-section ul {
  display: flex;
  flex-direction: column;
  padding: 20px;
  justify-content: center;
  border: solid whitesmoke;
  border-radius: 5px;
  font-size: 20px;
}
main #education-section li {
  padding: 10px;
  font-weight: 600;
}

label {
  padding: 10px;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

h4 {
  color: whitesmoke;
  text-align: center;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 15px;
}

input[type="submit"] {
  background-color: grey;
  color: #fff;
  border: 1px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 15px;
  cursor: pointer;
  font-size: 15px;
}

input[type="submit"]:hover {
  background-color: black;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #f70404;
}
