* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: whitesmoke
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    font-size: 3rem;
}
html{
    font-size: 5px;
}
p {
    color: whitesmoke;
}
li{
    color:whitesmoke
}

form{
    color: whitesmoke
}
h3 {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}
h1{
    color:whitesmoke
}
